  .table{
    width: 90%;
  } 
.tabela{
    margin-top: 6%;
    margin-bottom: 25%;
    margin-left: 8%;
}
h1{
  font-size: 4rem;
}
.dark h1{
  font-size: 4rem;
  color:#f1c40f ;
}
.btn-login{
    width: 15%;
    padding: 10px 0px;
    border: none;
    border-radius:8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: white;
    background-color: #FFD11D;;
    cursor: pointer;
}
.btn-editar{
  width: 90%;
  padding: 7px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: white;
  background-color: #FFD11D;
  cursor: pointer;
  font-size: 15px;
}
.btn-editar a {
  text-decoration: none;
  list-style: none;
  color: black;
}
#btn-excluir{
 background-color: #ff5050;
}
    .btns{
    display:flex;
    gap:30px;
    }
.btn-login:hover{
    background-color: #FFD11D;;
}
.btn-login a {
  text-decoration: none;
  list-style: none;
  color: black;
}