<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">

  <welcome-file-list>
  <welcome-file>login.jsp</welcome-file>
 </welcome-file-list>
 <session-config>
 <session-timeout>5</session-timeout>
 </session-config>
  <servlet>
    <servlet-name>GastoServlet</servlet-name>
    <servlet-class>br.com.FintechProject.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GastoServlet</servlet-name>
    <url-pattern>/GastoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroUsuario</display-name>
    <servlet-name>CadastroUsuario</servlet-name>
    <servlet-class>br.com.FintechProject.Controller.CadastroUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroUsuario</servlet-name>
    <url-pattern>/CadastroUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>br.com.FintechProject.Controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartaoServlet</display-name>
    <servlet-name>CartaoServlet</servlet-name>
    <servlet-class>br.com.FintechProject.Controller.CartaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartaoServlet</servlet-name>
    <url-pattern>/CartaoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RendimentoServlet</display-name>
    <servlet-name>RendimentoServlet</servlet-name>
    <servlet-class>br.com.FintechProject.Controller.RendimentoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RendimentoServlet</servlet-name>
    <url-pattern>/RendimentoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvestimentoServlet</display-name>
    <servlet-name>InvestimentoServlet</servlet-name>
    <servlet-class>br.com.FintechProject.Controller.InvestimentoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvestimentoServlet</servlet-name>
    <url-pattern>/InvestimentoServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Loginfilter</display-name>
    <filter-name>Loginfilter</filter-name>
    <filter-class>br.com.FintechProject.filter.Loginfilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Loginfilter</filter-name>
    <url-pattern>/Loginfilter</url-pattern>
  </filter-mapping>
</web-app>